.data/target/cat.csv
.data/target/product.csv
.data/target/product_category.csv
.data/target/product_desc.csv
.data/target/product_filter.csv
.data/target/product_layout.csv
.data/target/product_option.csv
.data/target/product_option_value.csv
.data/target/product_store.csv
*.jpg
*.jar
.data/target/old/
